<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <style media="screen">
    body{
      display: flex;
      justify-content:center;
      background: linear-gradient(to right, #e0eafc, #cfdef3);


    }
    .container{
      width:400px;
      height:200px;

      background: linear-gradient(to right, #1cd8d2, #93edc7);
       box-shadow: 5px 7px 10px #888888;
      text-align:center;
      border-radius:10px;
      margin-top:40px;
      padding-top:40px;
    }
    a{
      margin-bottom:20px;
    }
  </style>
  <body>
    <div class="container">
      <h1>OOPs! ☹ Try different UserName</h1>
      <a href="/"><button type="button"class="btn btn-outline-secondary" name="button">Go Home</button></a>
    
    </div>
  </body>
</html>
