body{
   
    color: white;
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
   
}
.container{
    width: 50%;
    margin-left: 25%;
    margin-top:5%;
    background-color: #5e9ba1;
    border-radius: 2.5%;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}
@media only screen and (max-width: 615px) {
    .container {
      width: 90%;
      margin-left: 5%;
      border-radius: 1%;
    }
  }
.Information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    font-family: 'Lobster', cursive;
}

.Information img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}


.item{
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    font-family: 'Akronim', cursive;
    position: relative;
    bottom: 30px;
}

.subject{

    text-align: center;
    text-decoration: underline;
}
.sujbect-itemList{
    background:linear-gradient(to right, #0f2027, #203a43, #2c5364);
    border: none;

}
.subject-item li{

   margin: 10px 10px 10px 5px;
   height: 40px;
   font-size: 25px;

}

.subject-item button{
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.35s;
}
.items-adder{
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 30px;

}
  li button:hover{
  border: none;
  padding-bottom: .10rem;
  border-bottom: .15rem solid white;
  transform: scale(1.1,1.1);
}

#item-add{
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
    outline: none;
    height: 30px;
}
.items-adder button{
    height: 30px;


}

.deleteButton{
    float: right;
    margin: 10px;


}
.deleteButton_after_mouseover{
    display: block;
}
