body{
    background-image: linear-gradient(to right, #74ebd5, #acb6e5);
}
.backward_point{
    position: relative;
    position: fixed;
    top: 20px;
}
.container{
    width: 90%;
    margin:auto 5%;
    color: rgb(53, 40, 40);
}
.subjectHeader{
    text-align: center;
    font-size: 40px;

}
.title{
    width: 20%;
    text-align: center;
    margin:40px auto;
    color: #20968B;
}
.pargraph{
    margin:10px;
    line-height: 1.5;
    font: 17px 'Open-Sans', sans-serif;
}
.post_content{

   background: #141422;
   color:#D2D2D2;
   border-radius: 10px;
   box-shadow: 5px 10px 20px #141422;


}

.AddButton{
    float:right;
    border-radius: 50%;
    border: none;
}
.soundButton{

     display: none;
     margin: 5px;
     font-size: 15px;

}
.update_button{
  float: right;
  display: block;
}
/* .update_button_after_mouseover{
  display: block;
} */
.soundButtonAppearence{
    display: block;

}
.button_container{
    height: 80px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen {

}
.button_container_appearence{
     background: #334756;
     position: relative;
}
