body{
    background-image: linear-gradient(to right, #74ebd5, #acb6e5);
}
.backward_point{
    position: fixed;
    top: 20px;
}
.container{
    width: 90%;
    margin:auto 5%;
    color: rgb(53, 40, 40);
}
.subjectHeader{
    text-align: center;
    font-size: 40px;

}
.title{
    width: auto;
    padding: 2%;
    text-align: center;
    margin:40px auto;
    color: #20968B;
    overflow:auto;
}
.pargraph{
    margin:10px;
    line-height: 1.5;
    font: 17px 'Open-Sans', sans-serif;
}
.post_content{

   background: #141422;
   color:#D2D2D2;
   border-radius: 10px;
   box-shadow: 5px 5px 20px #141422;
   padding-bottom: 10px;

}

.AddButton{
    float:right;
    border-radius: 50%;
    border: none;
    position: fixed;
    top: 20px;
    right: 5%;
}
.soundButton{

     display: none;
     margin: 5px;
     font-size: 15px;

}
.update_button{
  float: right;
  display: block;
  background: transparent;
  color: white;
  border: none;
  outline: none;
}


.soundButtonAppearence{
    display: block;
}
.button_container{
    height: 80px;
    width: 100px;
    border-radius: 5px;
    background: #334756;
    position: fixed;
    top: 30%;
    left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
}

.button_container_appearence{
    opacity: 1;
}
